#dashboard{
    float: left;
    margin: 0 auto;
    width: 960px;
    height: auto;
}
#score-box-line{
    float: left;
    width: 960px;
    height: 27px;
    padding: 5px;
    background: black;
}

.score-box {
    display: inline;
    float: left;
    width: auto;
    height: auto;
}

.team-name {
    float: left;
    margin: 0 2px;
    font-size: 18px;
    padding: 3px 5px;
    background: #839B97;
    text-align: center;
}

.team-score {
    float: left;
    margin: 0 2px;
    font-size: 16px;
    background: #4E4E4E;
    padding: 4px 5px;
    text-align: center;
}

.team-set-score {
    float: left;
    margin: 0 2px;
    font-size: 12px;
    background: red;
    padding: 3px 5px;
    text-align: center;
}

/* Setting box */
.setting-box {
    display: inline;
    float: left;
    padding: 5px;
    width: 960px;
    height: 100%;
    background: red;
}


