<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <meta charset="UTF-8">
    <title>ScoreBoard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}"/>
    <script th:src="@{/js/pooling.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.js}"></script>
</head>

<body>
    <table>
        <tr class="team away">
            <td class="name" id="first-team-name"></td>
            <td class="inning current-inning" id="first-team-score"></td>
            <td class="inning">25</td>
            <td class="inning">25</td>
            <td class="total" style="color: #ff0000;" id="first-team-set-score">0</td>
        </tr>
        <tr class="team home">
            <td class="name" id="second-team-name"></td>
            <td class="inning current-inning" id="second-team-score"></td>
            <td class="inning">21</td>
            <td class="inning">14</td>
            <td class="total" style="color: #ff0000;" id="second-team-set-score">0</td>
        </tr>
    </table>
</body>

</html>