<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <meta charset="UTF-8">
    <title>ScoreBoard</title>
    <link th:href="@{/styles.css}" rel="stylesheet"/>
    <script th:src="@{/pooling.js}"></script>
</head>

<body>
<div class="score-box">
    <p id="first-team-name" class="team-name"></p>
    <p id="first-team-score" class="team-score"></p>
    <p id="first-team-set-score" class="team-set-score"></p>
    <p id="second-team-set-score" class="team-set-score"></p>
    <p id="second-team-score" class="team-score"></p>
    <p id="second-team-name" class="team-name"></p>
</div>

</body>

</html>